<div class="item">
  <div>Avatar</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://"
      value="{{studant.avatar_url}}"
      >
  </div>
</div>
<div class="item">
  <div>Nome completo</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholde="Nome do Aluno(a)"
      value="{{studant.name}}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="birth"
      value="{{studant.birth}}"
    >
  </div>
</div>

<fieldset>
  <div class="item">
    <div>Grau de Escolaridade</div>
    <div>
      <select name="select">
        <option value="ensinomedio">Ensino Médio Completo</option>
        <option value="ensinosuperior" selected>Ensino Superior Completo</option>
        <option value="mestrado">Mestrado</option>
        <option value="doutorado">Doutorado</option>
      </select>
    </div>
  </div>
</fieldset>

<div class="item">
  <div>Tipo de Aula</div>
  <div>
    <span>
      <input 
        type="radio" 
        name="tipoaula" 
        value="presencial" {% if studant.tipoaula == 'presencial' %}
        {% endif %} checked> Presencial</span>
    <span>
      <input 
        type="radio" 
        name="tipoaula" 
        value="distancia" {% if studant.tipoaula == 'distancia' %}
        {% endif %}> À Distância</span>   
  </div>
</div>

<div class="item">
  <div>Área de atuação</div>
  <div>
    <input 
      type="text" 
      name="services" 
      placeholder="Separe as matérias por vírgula"
      value="{{studant.services}}"
    >    
  </div>
</div>

<button type="submit">Salvar</button>