@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --primary-color: rgb(241, 88, 16);
    --secundary-color: rgb(254, 130, 58);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1404&q=80);
    background-repeat: no-repeat;
    min-width: 700px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: auto;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 24px;
}

.links a + a{
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a.deactivate {
    opacity: 0.8;
}

.links a:hover {
    color: var(--primary-color);
    opacity: 1;
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

/* CARD  */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 40px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    /* sombra */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    /* animation */
    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

footer {
    margin:auto;
    border: 0;
    padding: 20px 0;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    background-color:beige;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
}

/* Details */

.details {
    padding: 24px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secundary-color);
    border-radius: 16px;
    color: #666;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}

/* FORM */

input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 14px;
    opacity: 0.5;
    font-weight: normal;
}

button[type="submit"] {
    padding: 8px 24px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

fieldset select{
    padding: 4px;
    width: 100%;
    line-height: 30px;
    background-color: var(--primary-color);
    color: white;
}
